.header-container{
	height: 10%;
    background: #303030;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .header-title{
    	p{
    		color: #fff;
		    text-transform: capitalize;
		    font-size: 1.3em;
    	}
    }
}